 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  background-color: white;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgb(42, 41, 41);
  background-color: white;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(236, 221, 221);
}

th {
  background-color: rgb(211, 205, 28);
  color: white;
}

tr:nth-child(even) {
  background-color: rgb(228, 244, 244);
}

img {
  border-radius: 50%;
}